<div class="container-fluid mt-5">

  <h1 class="text-center text-white mb-3">{{title}}</h1>

  <p class="text-white my-3">Call status :- <span style="font-weight: bold" id="call-state"> {{callStateText}} </span>
  </p>

  <!-- ! SELF VIDEO /SHARE SCREEN FEED -->
  <div class="container-fluid">
    <div class="row">

      <div class="col-lg-2 col-sm-12 h100" style="border: 1px solid darkslategray;">
        <div id="selfVideo" style="width: 100%; height: auto;">

        </div>
      </div>

      <div class="col-lg-8 col-sm-12 h100">
        <div class="d-flex flex-column align-items-center justif-content-center">

          <!-- ! Remote users camera feed /share screen feed -->
          <div id="remoteVideosGallery" style="border: 1px solid darkslategray; width:100%; min-height:70vh;">

          </div>

          <!-- ! Controls -->
          <div class="d-flex flex-row justify-content-center my-2 p-3">
            <button class="btn btn-outline-secondary me-2" (click)="mute()"><i class="bi bi-mic-mute-fill"></i></button>
            <button class="btn btn-outline-secondary me-2" (click)="unMute()"><i class="bi bi-mic-fill"></i></button>
            <button class="btn btn-outline-secondary me-2" (click)="startCamera()"><i
                class="bi bi-camera-video-fill"></i></button>
            <button class="btn btn-outline-secondary me-2" (click)="stopCamera()"><i
                class="bi bi-camera-video-off-fill"></i></button>
            <button class="btn btn-outline-secondary me-2" (click)="startShare()"><i
                class="bi bi-arrow-up-square"></i></button>
            <button class="btn btn-outline-secondary me-2" (click)="stopShare()"><i
                class="bi bi-x-square-fill"></i></button>
            <button class="btn btn-outline-danger me-2" (click)="disconnect()"><i
                class="bi bi-telephone-x-fill"></i></button>
                <button class="btn btn-secondary" id="refreshRemoteMedia-button" type="button"
                                 style="visibility: hidden;" (click)="subscribeToRemoteFeed()">
                                <i class="bi bi-arrow-clockwise"></i>
                            </button>
          </div>


        </div>
      </div>
      <div class="col-lg-2 col-sm-12 h100" style="border: 1px solid darkslategray;">
        <ul id="participantList" class="list-group p-3">
            <li class="list-group-item" *ngFor="let participant of meetingParticipants">{{participant.displayName ?? "Guest"}}</li>
        </ul>
    </div>
    </div>
  </div>



</div>