<div class="container mt-5">
  <h1 class="text-center mb-3">{{title}}</h1>

  <h6 class="text-danger my-3">Call status : {{callStateText}}</h6>

  <div class="row g-3">
    <div class="col-lg-12" *ngIf="callStateIdentifier === 1">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Enter Teams Meeting Link</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          [(ngModel)]="teamsLink">
      </div>
      <button class="btn btn-outline-success text-uppercase" (click)="connect(teamsLink)"
        [disabled]="connectBtnDisabled"><i class="bi bi-telephone-forward-fill mx-2"></i>Join Teams
        call</button>
    </div>

    <div class="col-lg-12">
      <div class="row">


        <div class="col-lg-9">
          <div class="row g-3">
            <div class="col-lg-3" *ngFor="let participant of meetingParticipants">
              <ng-container *ngIf="callStateIdentifier === 2">
                <div class="p-3 card h-100">
                  <h1 class="text-center">{{participant.displayName ?? "Guest"}}</h1>
                </div>
              </ng-container>
            </div>

          </div>
          <!-- ! Button Control -->
          <div class="d-flex flex-row justify-content-center align-items-center my-3" *ngIf="callStateIdentifier === 2">
            <button class="btn btn-outline-secondary me-2">Mute</button>
            <button class="btn btn-outline-secondary me-2">Unmute</button>
            <button class="btn btn-outline-secondary me-2">Start Camera</button>
            <button class="btn btn-outline-secondary me-2">Stop Camera</button>
            <button class="btn btn-outline-secondary me-2">Start Share</button>
            <button class="btn btn-outline-secondary me-2">Stop Share</button>
            <button class="btn btn-outline-danger me-2">Disconnect</button>
          </div>
          <div id="remoteVideosGallery"></div>
        </div>


        <div class="col-lg-3">
          <div class="d-flex flex-column">
            <div id="selfVideo" style="width: 100%; height: 20%;"></div>

            <div>
              <ul class="list-group">
                <li class="list-group-item" *ngFor="let participant of meetingParticipants">{{participant.displayName ??
                  "Guest user"}}</li>

              </ul>
            </div>
          </div>
        </div>


      </div>

    </div>
    <div class="col-lg-12">

    </div>
    <div class="col-lg-12">

    </div>
  </div>

</div>