<div class="container mt-5">
  <h1 class="text-center">{{title}}</h1>
  <hr>

  <h6 class="text-danger">Call status : {{callState}}</h6>
  <hr>
  <div class="row g-3">
    <div class="col-lg-12">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Enter Teams Meeting Link</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="teamsLink">
      </div>
      <button class="btn btn-outline-success text-uppercase" (click)="connect(teamsLink)"><i class="bi bi-telephone-forward-fill mx-2"></i>Join Teams
        call</button>
    </div>
    <hr>
    <div class="col-lg-12">

    </div>
    <div class="col-lg-12">

    </div>
    <div class="col-lg-12">

    </div>
  </div>

</div>